@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat';
}
/* #main{
    background-image: url(./Components/Todo/h.jpg);
    background-size: cover;
    background-position: center;
} */